/* common styles */
.all-group a{
    transition: background-color 1s;
 }
.all-group a:hover{
    background-color:tomato;
}
.upcoming a{
    transition: background-color 1s;
 }
.upcoming a:hover{
      background-color: #c59c9c;
}
.blog a{
    transition: background-color 1s;
 }
.blog a:hover{
      background-color: tomato;
}



/* blogs-container */
.news-images{
      display: flex;
      justify-content: center;
      padding: 10px;
}
.news-images span{
      margin-top: 15px;
      font-size: 25px;
}
.news-images img{
    width: 40%;
}
.upcoming a{
    background-color: tomato;
}
.blog a{
    background-color: aliceblue;
}